.header{
  height: 65px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_logo{
  display:flex;
  align-items: center;
  color: #ff9f00;
  margin: 0 10px;
  font-size: clamp(5px, 2.8vw, 15px);
}


.header_logoTitle::first-letter{
  color : rgb(242, 65, 0);
}

.header_logoImage{
  margin-right: 10px;
}

.header_logoTitle{
  text-decoration: none;
  border : 0;
  color: white;
}

.header_search{
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
  margin: 0 10px;
}

.header_input{
  height: 12px;
  padding: 10px 3px 10px 3px;
  border: none;
  width: 100%;
}

.header_searchIcon{
  padding: 3px;
  height: 21px !important;
  background-color: #ff9f00;
}

.header_nav{
  /* background-color: aliceblue; */
  display: flex;
  justify-content: space-between;
}

.nav_Item{
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px ;
  color: white;
}

.nav_ItemBasket{
  display: flex;
  /* justify-content: left; */
  margin: 10px 0 0 8px ;
  color: white;
}

.nav_Item1{
  font-size: clamp(5px, 2.8vw, 15px);
  padding: 4px 0 4px 0;
}

.nav_Item2{
  font-size: clamp(5px, 2.8vw, 15px);
  font-weight: 800;
}

.itembasket{
  display: flex;
  align-items: center;
  color: aliceblue;
  margin:  0 0.5rem 0 1rem;
}

.nav_basketCount{
  /* margin-left:  10px; */
  margin: 5px 20px 0 0;
  font-size: clamp(5px, 3vw, 20px);
}


/* Styles for HOME */

.home_image{
  width: 100%;
}


/* navbar Navbar container */
.navbar_container{
  border : 1px solid black;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #27374d;
  
}

.btn_link{
  background-color: transparent;
  border : none;
  color: #ebe7e7;
  font: normal 600 20px/40px poppins, serif;
  font-size: clamp(5px, 3vw, 20px);
  text-decoration: none;
}

/* body component */

.products{
  display : grid;
  max-width: 1500px;
  margin: 0 auto;
  gap: 3rem;
  grid-template-columns: 
  repeat(auto-fit, minmax(250px, 1fr));
}

.product{
  min-height: 250px;
  /* border : 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
img{
  width: 100%;
  height:auto;
  padding: 2px;
}

.Details_div{
  display: flex;
  flex-direction: column;
  gap : 5px
}

#cart_button{
  background-color: rgb(216, 216, 19);
  padding: 3px;
  border-radius: 4px;
  color: #131921;
  font: normal 600 20px/40px poppins, serif;
  font-size: clamp(15px, 3vw, 20px);
}